@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
* {
  font-family: 'Mukta', sans-serif;
}
body {
  background-color: #f9f9f9 !important;
  background-image: url('/assets/images/background.jpg');
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* Jumbotron Section */
  .jumbotron h1 {
    font-family: 'Poppins', sans-serif;
    padding-top: 10px;
    color: #fff;
    font-size: 10vw;
    font-weight: 700;
    line-height: 0.9;
  }
  .jumbotron h1 span {
    font-family: 'Poppins', sans-serif;
    padding-top: 10px;
    color: #f37c62;
    font-size: 10vw;
    font-weight: 700;
    line-height: 0.9;
  }
  .jumbotron p {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
  }
  /* End Jumbotron */

  /* Main Section */
  main #urlbox {
    margin-top: 50px;
    width: 100%;
    padding: 10px;
  }
  main .container {
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
      rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  }
  main #urlbox h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: #2b4865;
  }
  /* main #urlbox .input-container {
    margin: auto;
    background-color: #002b5b;
  } */
  main #urlbox form {
    width: 90%;
    align-items: center;
  }
  main #urlbox .input-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main #urlbox .input-container .form-control {
    background-color: #f7f4e3;
    border: 0;
    padding: 20px;
    border-radius: 20px;
  }
  main #urlbox button {
    font-family: 'Poppins' sans-serif;
    background-color: #f37c62;
    color: #572015;
    margin-left: 0px;
    margin-bottom: 20px;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 700;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  main #information {
    width: 100%;
    padding: 10px;
  }
  main #information .container h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #2b4865;
  }
  main #urlbox .container .info {
    text-align: justify;
  }
  main #urlbox .container .head2 .features .feature-1,
  .feature-2,
  .feature-3 {
    width: 100px;
    background-color: #f37c62;
    border-radius: 10px;
  }
  /* End Main */

  /* Footer Section */
  footer #footer {
    width: 100%;
  }
  footer .footer-info p {
    color: #fff;
    padding-top: 10px;
    font-size: 1.1rem;
    font-weight: 400;
  }
  /* End Footer */
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /* Jumbotron Section */
  .jumbotron h1 {
    font-family: 'Poppins', sans-serif;
    padding-top: 10px;
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
  }
  .jumbotron h1 span {
    font-family: 'Poppins', sans-serif;
    padding-top: 10px;
    color: #f37c62;
    font-size: 10vw;
    font-weight: 700;
    line-height: 0.9;
  }
  .jumbotron p {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
  }
  /* End Jumbotron */

  /* Main Section */
  main #urlbox {
    width: 100%;
    padding: 10px;
  }
  main .container {
    border-radius: 30px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
      rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  }
  main #urlbox h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: #2b4865;
  }
  /* main #urlbox .input-container {
    margin: auto;
    background-color: #002b5b;
  } */
  main #urlbox form {
    width: 60%;
    align-items: center;
  }
  main #urlbox .input-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main #urlbox .input-container .form-control {
    background-color: #f7f4e3;
    border: 0;
    padding: 20px;
    border-radius: 20px;
  }
  main #urlbox button {
    background-color: #f37c62;
    color: #572015;
    margin-left: 0px;
    margin-bottom: 20px;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 700;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  main #information {
    width: 100%;
    padding: 10px;
  }
  main #information .container h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #2b4865;
  }
  main #urlbox .container .info {
    text-align: justify;
  }
  main #urlbox .container .head2 .features .feature-1,
  .feature-2,
  .feature-3 {
    width: 100px;
    background-color: #f37c62;
    border-radius: 10px;
  }
  /* End Main */

  /* Footer Section */
  footer #footer {
    width: 100%;
  }
  footer .footer-info p {
    color: #fff;
    padding-top: 10px;
    font-size: 1.1rem;
    font-weight: 400;
  }
  /* End Footer */
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
