@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
* {
  font-family: 'Mukta', sans-serif;
}
body {
  background-color: #f9f9f9 !important;
  background-image: url('../images/bg-blur.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
    border-radius: 20px;
    background: gba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.01);
    backdrop-filter: blur(50px);
  }
}
@media only screen and (min-width: 600px) {
  .container {
    width: 100%;
    padding: 30px;
    border-radius: 20px;
    background: gba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.01);
    backdrop-filter: blur(50px);
  }
}
